@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');


html {
  touch-action: manipulation;
}
body {
  font-family: Montserrat, sans-serif;
  margin: 0 0 0 0;
  background-image: url(./IMG/bck2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%; /* up down for all */
  background-position-x: 50%; /* side for mobile only */
  color: white;
   
}
.reload {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -27vh;

  border-radius: 70%;
  
  transition: all 500ms;
  cursor: pointer;
}
.reload:active {
  transform: scale(1.3) rotate(-360deg);
}
.reload.r {
  transform: scale(1.3) rotate(-360deg);
}

#header  {
  position: absolute;
  text-align: center;
  top: 5%;  
  width: 100%;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center; 
  
} 

.key {
  border: 1px solid black;  
  margin: 2%;
  padding: 14vh 1.5vh;   
  transition: all .07s ease;
  width: 10px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.3);
  text-shadow: 0 0 .10px black;  
  
}  

kbd {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  visibility: hidden;
  transition: all 350ms;    
}

/* .key:active { 
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
} */
.key.playing { 
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
} 

#player {  
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-top: -8vh;
  
}
.pp { 
  border-radius: 70%; 
  transition: all .2s ease;
  cursor: pointer;
}

.previous, .next {  
  border-radius: 70%;  
  transition: all .2s ease;
  cursor: pointer;
  }

.pp:active, .previous:active, .next:active  {
  transform: scale(1.25);
    /* filter: drop-shadow(0 0 5px #ffc600 ); rotate(-10deg)*/
}
.pp.p, .previous.n, .next.n {
  transform: scale(1.25);
}

.hamburger_menu {
  display: none;
  z-index: 100;
}
footer {
  font-size: 7px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.25);
  position: absolute;
  right: 1%;
  bottom: 0.5%;
  text-align: right;
}
footer:hover {
  text-shadow: 0 0 1px white;
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.25);
}




@media screen and (min-width: 1200px) {
  footer {
    font-size: 12px;
    right: 0.5%;
  }
  .key:hover kbd { 
    visibility: visible;
    transform: scale(1.5);      
  }
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
  }
  .reload:hover {
    transform: scale(1.3) rotate(360deg);
  } 

  .hamburger_menu { /* centered the sub menu ! */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger_img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 125%;
    z-index: 100;
    border-radius: 2.5vh;
    cursor: pointer;
    transition: all 250ms ease 10ms;
    
  }
  .burger_img:hover {
    box-shadow: 0 0 3.5vh white;
  }
  .burger_img.button_vis {
    box-shadow: 0 0 3.5vh white;
  }
  .sub-menu {
    line-height: 5vh;
    border-radius: 1vh;
    visibility: hidden;
    position: absolute;
    top: 20vh;
    box-shadow: none;
    width: 50%; /* percent allows for good resize of window */
    
    height: auto;
    background-color: hsla(0, 0%, 100%, 0.25); 
  }
  .show_help {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .show_help:hover .sub-menu{
    visibility: visible;
    transition: all 500ms linear;
  }

  .sub-menu.button_vis {
    visibility: visible;
    
  }
  
}
@media screen and (min-width: 1500px) { 
  .sub-menu {
    width: 40%;
  }


}


@-moz-document url-prefix() { /* only firefox */
  .key kbd {
  font-family: Montserrat, sans-serif;
  font-size: 18px; 
  }
  body {
    background-color: black;
    background-position-y: 100px; /* up down for all */
  }

  @media screen and (min-width: 600px) { /* bloody firefox .... */
    body {
      background-position-y: 26.5% 
    }
  }
  @media screen and (min-width: 768px) {
    body {
      background-position-y: 150px; 
    }
  }
  @media screen and (min-width: 1000px) {
    body {
      background-position-y: 26.5% 
    }
  }
  
}




